.proficiency {
  padding: 0px 10vw;
  background-color: grey;
  color: white;
}
.ListProficiency {
  display: grid;
  grid-template-columns: 40vw 50vw;
}
.proficiency li:before {
  content: "\1F44D";
  margin-left: -20px;
  margin-right: 10px;
}
