@media (max-width: 1200px) {
  .topNav {
    position: fixed;
    display: grid;
    width: 100vw;
    height: auto;
    grid-column-gap: 40vw;
    grid-template-areas: "logo menu";
    background-color: black;
    vertical-align: middle;
    align-items: center;
  }
  .logoWrapper {
    padding: 10px 10vw;
    grid-area: logo;
    float: right;
  }
  .menuBurger {
    padding: 10px 10vw;
    grid-area: menu;
    z-index: 3;
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 5px;
    align-items: center;
    vertical-align: middle;
  }
  .menu {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    align-items: center;
    height: auto;
    max-width: 100%;
  }
  #blankNavBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
  }
  .topButtonsWarper {
    margin: 0;
    transition: 0.5s;
    padding-top: 40px;
    overflow: hidden;
    width: 0vw;
    min-height: 100vh;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "about"
      "experience"
      "proficiency"
      "contact";
    background-color: grey;
  }

  #contactButton {
    grid-area: "contact";
  }
  #codingProficiencyButton {
    grid-area: "proficiency";
  }
  #aboutButton {
    grid-area: "about";
  }
  #experienceButton {
    grid-area: "experience";
  }

  .topButtons {
    padding-left: 30px;
    align-self: flex-start;
  }
}
.collapse {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.topButtons:hover {
  color: yellow;
}
@media (min-width: 1200px) {
  .topButtons:hover {
    color: yellow;
    transform: scale(1.5);
  }
  .menuBurger {
    display: none;
  }
  .topNav {
    padding: 10px 10vw;
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 3vw 30vw 35vw 5vw;
    align-items: center;
    background-color: black;
    vertical-align: middle;
  }
  .topButtonsWarper {
    vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.logoWrapper {
  display: block;
}

.logo {
  margin: 0;
  height: 50px;
  width: 50px;
}

.topButtons {
  transition: transform 0.2s;
  display: block;
  font-weight: bold;
  font-family: "Calistoga", cursive;
  color: white;
  font-size: 1.2em;
}
