@media (max-width: 1200px) {
  .topNav {
    position: fixed;
    display: grid;
    width: 100vw;
    height: auto;
    grid-column-gap: 40vw;
    grid-template-areas: "logo menu";
    background: black;
    vertical-align: middle;
    align-items: center;
  }
  .logoWrapper {
    padding: 10px 10vw;
    grid-area: logo;
    float: right;
  }
  .menuBurger {
    padding: 10px 10vw;
    grid-area: menu;
    z-index: 3;
    cursor: pointer;
    display: flex;
    margin: 0;
    padding: 0;
    width: 35px;
    height: 5px;
    align-items: center;
    vertical-align: middle;
  }
  .menu {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    align-items: center;
    height: auto;
    max-width: 100%;
  }
  #blankNavBar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    min-height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
  }
  .topButtonsWarper {
    margin: 0;
    transition: 0.5s;
    padding-top: 40px;
    overflow: hidden;
    width: 0vw;
    min-height: 100vh;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: grey;
  }

  .topButtons {
    padding-left: 30px;
    align-self: flex-start;
  }
  .switch {
    margin-left: 30px;
    align-self: flex-start;
  }
}
.collapse {
  background: transparent;
  border: 0;
  cursor: pointer;
}
.topButtons:hover {
  color: yellow;
}
@media (min-width: 1200px) {
  .topButtons:hover {
    color: yellow;
    transform: scale(1.5);
  }
  .menuBurger {
    display: none;
  }
  .topNav {
    padding: 10px 10vw;
    position: fixed;
    display: grid;
    width: 100vw;
    grid-template-columns: 3vw 30vw 35vw 5vw;
    align-items: center;
    background-color: black;
    vertical-align: middle;
  }
  .topButtonsWarper {
    vertical-align: middle;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.logoWrapper {
  display: block;
}

.logo {
  margin: 0;
  height: 50px;
  width: 50px;
}

.topButtons {
  transition: transform 0.2s;
  display: block;
  font-weight: bold;
  font-family: "Calistoga", cursive;
  color: white;
  font-size: 1.2em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

.moon {
  position: relative;
  left: 4px;
  top: 5px;
  width: 25px;
  height: 25px;
}

.sun {
  position: relative;
  left: 46px;
  top: 5px;
  width: 25px;
  height: 25px;
}
