.topNav {
  padding: 10px 10vw;
  display: grid;
  grid-template-columns: 5vw 25vw 55vw;  
  height: 6vh;
  align-items: center;
  background-color:	#e5e5e5;
}
.header {
  text-align: center;
}
#logo {
  height: 150%;
  width: 120%;
}
.topButtons {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}
li {
  margin: 10px;
  font-size: 1.5em;
}
h1 {
  font-size: 3em;
}
